#welcome
  %h1= t(".section_title")
  %p= t(".section_description")
  #designs
    =will_paginate @designs
    - @designs.each do |d|
      #design
        %h2= d.title
        %p= d.description
        = link_to d.splash.image_url, :rel => 'facebox' do
          = image_tag d.splash.image_url(:thumb) 
        = link_to t(".show_more"), d
