= form_for [:admin, @design], :html => {:multipart => true} do |f|
  -if @design.errors.any?
    #error_explanation
      %h2= "#{pluralize(@design.errors.count, "error")} prohibited this design from being saved:"
      %ul
        - @design.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description

  %table
    %tr
      %th Order
      %th Description
      %th Image
      = f.fields_for :images do |builder|
        = render "image_fields", :f => builder, :design => @design
  = link_to_add_fields "Add image", f, :images
  .actions
    = f.submit 'Save'
