%p#notice= notice

%h2= @design.title
%p= @design.description

- @design.images.order(:sort_by).each do |img|
  #image
    = image_tag img.image
    %p= img.description

.clear

= link_to 'Edit', edit_admin_design_path(@design)
\|
= link_to 'Back', admin_designs_path
