%p#notice= notice

%h2= best_in_place @design, :title, :path => admin_design_path(@design)
%p= best_in_place @design, :description, :path => admin_design_path(@design)

- @design.images.order(:sort_by).each do |img|
  .image_design
    = link_to img.image_url, :rel => 'facebox' do
      = image_tag img.image_url(:thumb)
    %p= best_in_place img, :description, :path => admin_design_path(@design)
    = simple_form_for [:admin, @design, img ], :html => {:multipart => true}, :format => :json do |f|
      = f.input :image, :as => :file, :label_html => {:class => "#{img.id}"}
.clear

= link_to 'Back', admin_designs_path
