%p#notice= notice

%p
  %b Title:
  = @design.title
%p
  %b Description:
  = @design.description
%p
  %b Images:
- @design.images.order(:sort_by).each do |img|
  = image_tag img.image
  %p= img.description

= link_to 'Edit', edit_admin_design_path(@design)
\|
= link_to 'Back', admin_designs_path
